### Pandas is the most popular python library that is used for data analysis. It provides highly optimized performance with back-end source code is purely written in C or Python

## We can analyze data in pandas with:

### 1.) Series
### 2.) DataFrames

### Series is one dimensional(1-D) array defined in pandas that can be used to store any data type.
### DataFrames is two-dimensional(2-D) data structure defined in pandas which consists of rows and columns.


# Series

In [2]:
#Import Library
import pandas as pd

In [4]:
# Create data without index, that's why it took by default indexing started with 0 to 5
data=[1,2,3,4,5,6]
tb=pd.Series(data)
tb

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
# Create data with indexign form
data=['a','b','c','d','e','f','g']
index=[1,2,3,4,5,6,7]
tix=pd.Series(data,index)
tix

1    a
2    b
3    c
4    d
5    e
6    f
7    g
dtype: object

In [9]:
# Create dict using series
s={'a':1,'b':2,'c':3,'d':4,'e':5}
print(pd.Series(s))

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
#2d array
data=[[1,2,3,4],[5,6,7,9]]
d2d=pd.Series(data)
d2d

0    [1, 2, 3, 4]
1    [5, 6, 7, 9]
dtype: object

In [18]:
#From ndarray
import numpy as np
s=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
print(s)
print(s.index)

a    0.076194
b   -1.794561
c    1.576532
d    2.451905
e   -0.867938
dtype: float64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [21]:
#Example
d={'a':0,'b':1,'c':3}
index=['b','c','e','a']
s=pd.Series(d,index)
s

b    1.0
c    3.0
e    NaN
a    0.0
dtype: float64

In [31]:
# Calling the index of the array
print(s[:])
print(s[2])
print(s[1])
print(s[:-2])
print(s.dtype)
print(s.array)
print(s.to_numpy())

b    1.0
c    3.0
e    NaN
a    0.0
dtype: float64
nan
3.0
b    1.0
c    3.0
dtype: float64
float64
<PandasArray>
[1.0, 3.0, nan, 0.0]
Length: 4, dtype: float64
[ 1.  3. nan  0.]

In [35]:
# Operations
print(s+s+s)
print(s*3)

b    3.0
c    9.0
e    NaN
a    0.0
dtype: float64
b    3.0
c    9.0
e    NaN
a    0.0
dtype: float64

# DataFrames

In [43]:
import pandas as pd
dict1={1:"a",2:"b",3:"c",4:"d"}
dict2={1:"e",2:"f",3:"g",4:"e",5:"p"}
data={'first':dict1,'second':dict2}
a=pd.DataFrame(data)
a

  first second
1     a      e
2     b      f
3     c      g
4     d      e
5   NaN      p

In [49]:
b=pd.DataFrame([[[1,2,3,4],[6,7,5,4],[31,32,43,32]]], index=['a','b','c'], columns=['w','e','r'])
b

              w             e                 r
a  [1, 2, 3, 4]  [6, 7, 5, 4]  [31, 32, 43, 32]
b  [1, 2, 3, 4]  [6, 7, 5, 4]  [31, 32, 43, 32]
c  [1, 2, 3, 4]  [6, 7, 5, 4]  [31, 32, 43, 32]

In [74]:
#Example 
data=[['A',21,12.43],['B',54,2.46],['C',76,87.65]]
df=pd.DataFrame(data,columns=['Name','Age','Marks'],index=['1','2','3'])
print(df)
print("Name: "+df['Name'])
print()

  Name  Age  Marks
1    A   21  12.43
2    B   54   2.46
3    C   76  87.65
1    Name: A
2    Name: B
3    Name: C
Name: Name, dtype: object

In [108]:
# Operations and Sorting
d={'Name':pd.Series(['Python','Java','C++','Dev','QA']),'Marks':pd.Series([87,65,54,42,86],dtype='int32'),'Ratings':[11,32,111,23,44]}

data=pd.DataFrame(d)
print(data)
print("Sum of all the dataframe: "+str(data.sum()))
print("Sum of marks column: "+str(data['Marks'].sum()))
print(data.Marks.max())
print(data.Ratings.count())
print(data.Ratings.cumsum())
print(data.Marks.cumprod())

     Name  Marks  Ratings
0  Python     87       11
1    Java     65       32
2     C++     54      111
3     Dev     42       23
4      QA     86       44
Sum of all the dataframe: Name       PythonJavaC++DevQA
Marks                     334
Ratings                   221
dtype: object
Sum of marks column: 334
87
5
0     11
1     43
2    154
3    177
4    221
Name: Ratings, dtype: int64
0            87
1          5655
2        305370
3      12825540
4    1102996440
Name: Marks, dtype: int32

In [109]:
#Sorting
data=pd.DataFrame(np.random.randn(10,2), index=[1,4,6,2,3,5,9,8,0,7], columns=['col2','col1'])
print (data)

       col2      col1
1  1.107462 -0.311039
4 -1.694045  2.354881
6  0.961183  0.428036
2 -1.075955 -0.236551
3  0.776060 -0.992140
5  0.636326 -2.819838
9 -1.246367  1.005988
8  0.584800 -1.156995
0  0.107150 -0.522624
7 -0.493900 -0.505496

In [110]:
#Ascending order
a=data.sort_index()
a

       col2      col1
0  0.107150 -0.522624
1  1.107462 -0.311039
2 -1.075955 -0.236551
3  0.776060 -0.992140
4 -1.694045  2.354881
5  0.636326 -2.819838
6  0.961183  0.428036
7 -0.493900 -0.505496
8  0.584800 -1.156995
9 -1.246367  1.005988

In [111]:
# Desending mail
a=data.sort_index(ascending=False)
a

       col2      col1
9 -1.246367  1.005988
8  0.584800 -1.156995
7 -0.493900 -0.505496
6  0.961183  0.428036
5  0.636326 -2.819838
4 -1.694045  2.354881
3  0.776060 -0.992140
2 -1.075955 -0.236551
1  1.107462 -0.311039
0  0.107150 -0.522624

In [115]:
#Sorting based on Quicksort,merge,heapsort
c=data.sort_values(by='col1',kind='quicksort')
c

       col2      col1
5  0.636326 -2.819838
8  0.584800 -1.156995
3  0.776060 -0.992140
0  0.107150 -0.522624
7 -0.493900 -0.505496
1  1.107462 -0.311039
2 -1.075955 -0.236551
6  0.961183  0.428036
9 -1.246367  1.005988
4 -1.694045  2.354881

# String Operations

In [117]:
s = pd.Series(['Katrina','Raman','Jessica','Albert','1234','Smith'])
print (s)

0    Katrina
1      Raman
2    Jessica
3     Albert
4       1234
5      Smith
dtype: object

In [126]:
#String lower
print(s.str.lower())
print(s.str.upper())
print(s.str.len())
print(s.str.contains('K'))
print(s.str.replace('K','Sa'))
print(s.str.swapcase())
print(s.str.findall('a'))

0    katrina
1      raman
2    jessica
3     albert
4       1234
5      smith
dtype: object
0    KATRINA
1      RAMAN
2    JESSICA
3     ALBERT
4       1234
5      SMITH
dtype: object
0    7
1    5
2    7
3    6
4    4
5    5
dtype: int64
0     True
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    Saatrina
1       Raman
2     Jessica
3      Albert
4        1234
5       Smith
dtype: object
0    kATRINA
1      rAMAN
2    jESSICA
3     aLBERT
4       1234
5      sMITH
dtype: object
0    [a, a]
1    [a, a]
2       [a]
3        []
4        []
5        []
dtype: object

# Indexing Description¶
### .loc() Label based
### .iloc() Integer based
### .ix() Both Label and Integer based

In [144]:
df = pd.DataFrame(np.random.randn(10,5), index =['a','b','c','d','e','f','g','h','i','j'], columns = ['A','B','C','D','E'])
print(df)

          A         B         C         D         E
a  1.409358 -1.777084 -0.421434  1.161613  0.965976
b  0.415332  1.681649  0.216763 -2.374708 -0.588022
c  1.290138 -0.063813 -1.868252  1.289896 -0.743843
d  0.837330 -0.132673 -0.195111 -0.792296  2.665518
e -0.761606  0.614978  0.804544  0.216854 -0.013701
f  0.905338 -1.069557 -0.122560 -0.401552  0.473162
g  1.001207  0.228678 -0.699412 -0.080534 -0.280871
h  0.117243 -0.703354  0.737421  0.416833 -0.080695
i -0.548494 -0.656093 -0.975058  2.516256 -1.460917
j  0.902046  0.101687 -1.074528  0.710457  1.300503

In [150]:
print(df.loc[:,'A'])
print(df.loc[:,'A':'C'])

a    1.409358
b    0.415332
c    1.290138
d    0.837330
e   -0.761606
f    0.905338
g    1.001207
h    0.117243
i   -0.548494
j    0.902046
Name: A, dtype: float64
          A         B         C
a  1.409358 -1.777084 -0.421434
b  0.415332  1.681649  0.216763
c  1.290138 -0.063813 -1.868252
d  0.837330 -0.132673 -0.195111
e -0.761606  0.614978  0.804544
f  0.905338 -1.069557 -0.122560
g  1.001207  0.228678 -0.699412
h  0.117243 -0.703354  0.737421
i -0.548494 -0.656093 -0.975058
j  0.902046  0.101687 -1.074528

In [151]:
print(df.loc[:,['A','C']])

          A         C
a  1.409358 -0.421434
b  0.415332  0.216763
c  1.290138 -1.868252
d  0.837330 -0.195111
e -0.761606  0.804544
f  0.905338 -0.122560
g  1.001207 -0.699412
h  0.117243  0.737421
i -0.548494 -0.975058
j  0.902046 -1.074528

In [152]:
print(df.loc['b','A':'C'])

A    0.415332
B    1.681649
C    0.216763
Name: b, dtype: float64

In [154]:
print(df.loc['b':'f','A':'C'])

          A         B         C
b  0.415332  1.681649  0.216763
c  1.290138 -0.063813 -1.868252
d  0.837330 -0.132673 -0.195111
e -0.761606  0.614978  0.804544
f  0.905338 -1.069557 -0.122560

In [155]:
print(df.loc[['a','b']]>0)

      A      B      C      D      E
a  True  False  False   True   True
b  True   True   True  False  False

In [165]:
# df.iloc
print(df.iloc[:,[1,2]])
print(df.iloc[[2,5],[1,4]])

          B         C
a -1.777084 -0.421434
b  1.681649  0.216763
c -0.063813 -1.868252
d -0.132673 -0.195111
e  0.614978  0.804544
f -1.069557 -0.122560
g  0.228678 -0.699412
h -0.703354  0.737421
i -0.656093 -0.975058
j  0.101687 -1.074528
          B         E
c -0.063813 -0.743843
f -1.069557  0.473162

In [175]:
# reindex_like
a=pd.DataFrame(np.random.randn(3,2), columns=['a','b'])
b=pd.DataFrame(np.random.randn(5,2), columns=['a','b'])
print(a)
print(b)

print(a.reindex_like(b))
print(b.reindex_like(a))

          a         b
0 -0.304602  0.999479
1  1.077709  1.479893
2  0.297719 -0.200318
          a         b
0  0.236052  1.277551
1 -0.425910  0.738844
2  0.311550  0.475125
3  2.251510  1.411732
4  1.454610 -0.824192
          a         b
0 -0.304602  0.999479
1  1.077709  1.479893
2  0.297719 -0.200318
3       NaN       NaN
4       NaN       NaN
          a         b
0  0.236052  1.277551
1 -0.425910  0.738844
2  0.311550  0.475125

In [ ]:
df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
print(df1)
print(df2)
print(df1.reindex_like(df2))
print(df2.reindex_like(df1))